extends ../layout/layout 

block content
     h1 UPdate transaction
    style.
        th,td{
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;

        }
        table{
        border-collapse: collapse;
        width: 100%;
        }           
    table
            tr
                th Ten Nguoi Muon
                th Sach Muon
                th So luong
            each item in info
                tr
                    td= item.user
                    td= item.book
                    td= item.sl